html, body, p, ol, ul, td {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

body {
    background-color: #fff;
    color: #333;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    color: #000;
}
a:visited {
    color: #666;
}
a:hover { 
    color: #fff;
    background-color: #000;
}

div.field, div.actions {
    margin-bottom: 10px;
}

.flash-container {
    position: absolute;
    display: table;
    width: 100%;
    height: 50px;
}

.flash-message-buffer {
    display: table-cell;
    width: 20%;
}

.flash-message {
    position: relative;
    display: table-cell;
    width: 650px;
    height: 60%;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color: white;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#flash-notice {
    background-color: rgba(5,69,0,0.9);
}

#flash-error {
    background-color: rgba(69,0,0,0.9);
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#logo {
    float: left;
}

#login-options {
    float: right;
}

#main-content {
    clear: both;
    min-height: 400px;
    width: 800px;
    margin: 0px auto;
}

#footer {
    clear :both;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#infoWindowDiv {
	height: 500px
	width: 500px
}
