#sight-form {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
    width: 25%;
}

#map {
    position: relative;
    display: inline-block;
    float: right;
    width: 60%;
}

#jump-to-box {
    margin-bottom: 5px;
    width: 100%;
}

#spinner {
    border: none;
    display: none;
    margin-left: 5px;
}

#map-canvas {
    height: 500px;
    width: 100%;
    border: #DDD 1px solid;
    box-shadow: 3px 3px 3px #888;
}
