#align-container {
    display: table-row;
}

#content {
    display: table-cell;
    float: left;
    height: 100%;
}

#sidebar {
    display: table-cell;
    float: right;
    height: 100%;
}

#photo img {
    max-width: 500px;
}

.comment {
    margin: 10px;
    padding: 5px;
}

#map-canvas {
    width: 450px;
    height: 240px;
    margin-bottom: 50px;
    display: block;
}

#user-photo-list {
    overflow: auto;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 450px;
    height: 400px;
}

.user-photo {
    margin: 10px;
    padding: 5px;
    float: left;
}

.user-photo img {
    max-width: 200px;
    max-height: 200px;
}
