<% content_for :main_content do %>
<h1>Editing sight_comment</h1>

<%= render 'form' %>

<%= link_to 'Show', sight_sight_comment_path(@sight, @sight_comment) %> |
<%= link_to 'Back', sight_sight_comments_path(@sight) %>
<% end %>
