<% content_for :main_content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @sight_comment.comment %>
</p>


<%= link_to 'Edit', edit_sight_sight_comment_path(@sight, @sight_comment) %> |
<%= link_to 'Back', sight_sight_comments_path(@sight) %>
<% end %>
