<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @photo_tag.tag %>
</p>


<%= link_to 'Edit', edit_sight_photo_photo_tag_path(@sight, @photo, @photo_tag) %> |
<%= link_to 'Back', sight_photo_photo_tags_path(@sight, @photo) %>
