<table id="ratings_table">
							<tr>
								<th colspan = 2> Photo Ratings </th>
							</tr>
							<tr>
								<td> Average Rating </td>
								<td> <%= photo.rating %> </td>
							</tr>
							<tr>
								<td> Your Rating </td>
								<td> <%= current_user_rating %> </td>
							</tr>
						</table>