<% content_for :css do %>
    <%= stylesheet_link_tag "photos" %>
<% end %>

<% content_for :body do %>
    <% @user.photos.each do |photo| %>
        <div class="user-photo">
            <div class="user-photo-image">
                <%= link_to(image_tag(photo.file.url(:small)), photo_path(photo)) %>
            </div>
            <div class="user-photo-info">
                Tags:
                <% if photo.tags.length == 0 %>
                    None
                    <% else %>
                        <% photo.tags.each do |tag| %>
                        <%= link_to(tag.tag, tag_path(tag)) %>
                    <% end %>
                <% end %>
                <br />
                Sights:
                <% if photo.sights.length == 0 %>
                    None
                    <% else %>
                        <% photo.sights.each do |sight| %>
                        <%= link_to(sight.name, sight_path(sight)) %> 
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>
