<% content_for :body do %>

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    
        <% @photos.each do |photo| %>
            <tr>
                <td><%= link_to (image_tag(photo.file.url(:thumb))), photo_path(photo) %></td>
                <td>by <%= photo.user.user_name %></td>
            </tr>
        <% end %>
    </table>

<% end %>
