<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @photo_comment.comment %>
</p>


<%= link_to 'Edit', edit_sight_photo_photo_comment_path(@sight, @photo, @photo_comment) %> |
<%= link_to 'Back', sight_photo_photo_comments_path(@sight, @photo) %>
